body{
  margin 0;
}
.header-bar{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu{
  height: 25px;
}

.youtube-logo{
  height: 20px;
}
.first-section{
  margin-left: 25px;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
}

.second-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar{
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 2px #d3d3d3;
  padding: 10px 10px;
  width: 350px;
  color: #d3d3d3;
}

.search-icon{
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 2px #d3d3d3;
  height: 25px;
  padding: 7px 20px;
}

.voice-search-icon{
  padding: 6px 20px;
  height: 23px;
}

.third-section{
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
}

.third-section .icons{
  height: 25px;
}
.user-pfp{
  border-radius: 50%;
  height: 35px;
}

.video-section *{
  font-family: Roboto;
}

.video-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
}

.video-preview{
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
}

.thumbnail{
  width: 100%;
}
.video-details{
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
}
.video-details span{
  width: 100%;
}
.channel-picture{
  width: 100%;
}

.channel-picture img{
  border-radius: 50px;
}
.video-title{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
.channel-name, .views-uploaddate{
  margin: 0;
  color: rgb(69, 69, 69);
  font-size: 13px;
  margin-bottom: 4px;
}

